@tailwind base;
@tailwind components;

.euro-button {
  @apply flex items-center gap-6 border-2 border-primary px-4 py-1 rounded-lg text-xs;
}
.slider-arrow {
  @apply absolute top-[45%] text-xl text-primary z-10 cursor-pointer select-none;
}

@tailwind utilities;

.sliderContainer {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.sliderCards {
  scroll-snap-align: center;
}
