@tailwind base;
@tailwind components;

.euro-button {
  @apply flex items-center  border-2 border-secondary px-4 py-1 rounded-lg text-xs;
}
.slider-arrow {
  @apply absolute top-[45%] text-xl text-primary z-10 cursor-pointer select-none;
}
.rounded-button {
  @apply rounded-full border border-gray-400 w-3 h-3 transition ease-in-out delay-150;
}
@tailwind utilities;

.sliderContainer {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.sliderCards {
  scroll-snap-align: center;
}
.button-gradient {
  background: rgb(46, 196, 182);
  background: linear-gradient(
    90deg,
    rgba(46, 196, 182, 1) 0%,
    rgba(65, 51, 255, 1) 100%
  );
}
